@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
* {
  font-family: 'Wix Madefor Display', sans-serif;
  text-transform: lowercase;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  /*text-transform: lowercase;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #0A0313;
  -webkit-border-radius: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #B482E5; 
}
