.social-icons {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 0.5em;
  }
  
  .social {
    display: inline-block;
    text-align: left;
  }
  
  .social-icon {
    width: 75%;
    height: 75%;
    transition: transform 0.3s ease-in;
  }
  
  /* Add transition effect */
  .transition {
    transition: opacity 0.1s;
  }
  
  .social-icon:hover {
    opacity: 0.75;
    transform: scale(1.5);
  }

  @media (max-width: 767px) {
    .social-icon {
        width: 50%;
        height: 50%;
      }
      .social-icons {
        gap: 0.1em;
      }
      .social {
        margin-right: 0;
      }
  }
  