@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.main-introduction {
    position: inherit;
    overflow: auto;
    padding-top: 2.5%;
}

.main-picture {
    position: absolute;
    padding-left: 10%;
    padding-bottom: 0;
    width: 30%;
    height: 30%;
}

.intro {
    color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em;
    padding-left: 40%;
    padding-right: 10%;
    padding-top: 0;
    padding-bottom: 0;
}

span.keyword {
    /* background: linear-gradient(4deg,rgba(67, 136, 221, 1), rgba(255, 69, 129, 1)); */
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag {
    color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    padding-left: 50%;
    padding-right: 10%;
    padding-bottom: 0;
    max-width: 25%;
    margin-top: 10px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
}

.self-praise {
    color: #EAC9FF;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding-left: 40%;
    padding-right: 10%;
    padding-bottom: 0;
    max-width: 20%;
    margin-top: 0;
}

.experience {
    color: white;
    padding-top: 5%;
    padding-left: 10%;
    font-family: 'Quicksand';
    font-style: normal;
}

.roles {
    font-size: 30px;
    font-weight: 600;
}

.current-role {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    display: inline-block;
}

img.refactor-logo {
    padding-bottom: 1%;
    padding-left: 1px;
    vertical-align: middle;
    padding-right: 5px;
}

.experience-description {
    width: 50%;
    font-size: 18px;
    margin-top: 0;
    line-height: 1.5em;
}

.designation {
    /* Add CSS for fading transition */
    color: #B482E5;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.keyword.designation {
    color: #B482E5;
    opacity: 1;
}