@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.navigation {
    padding-top: 1em;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    padding: 0;

}

.navbar-item {
    margin: 0;
    transition: transform 0.3s ease-in;
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #d7d5db;
    font-weight: 400;
    transition: color 0.3s ease;
    font-size: 1.3em;
    padding: 0.5em;
}

.navbar-link:hover {
    color: #d18b2e;
    text-decoration: none;
    opacity: 0.75;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 1em;
    opacity: 0.75;
}

.navbar-item:hover{
    transform: scale(1.2);
}

.download-resume {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-transition: .2s;
    text-decoration: none;
    color: #fff;
    border-radius: 1em;
    background: rgba(106, 67, 160, 0.2);
    border: 0.1em solid #D4A5FF;
    padding: 1em 1em;
    transition: all 0.3s ease;
}

.download-resume:hover {
    color: #d6e0e3;
    border-image: linear-gradient(to right, 
    rgba(255, 69, 129, 1), 
    rgba(67, 136, 221, 1)) 1;
    transform: scale(1.1);
    border-radius: 2em;
}

.header-divider {
    border: none;
    border: 0;
    height: 0.1em;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.02), rgb(129, 29, 222,0.3), rgba(255, 255, 255, 0.02));
}