.footer-div {
    padding: 0 10%;
    padding-top: 5%;
    padding-bottom: 1%;
    position: inherit;
    display: flex;
    width: 80%;
    justify-content: center;
}

.lets-connect {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;
    letter-spacing: 0.02em;
    width: 400px;
    justify-content: center;
    padding-top: 1%;
}
.message{
    display: flex;
    justify-content: center;
}
.social-icons{
    padding-top: 5%;
    width: 100%;
}
.social{
    padding-left: 25px;
}

.social-icons .social img:hover {
    transform: scale(1.1);
}